In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import colors
from sklearn import linear_model

In [3]:
np.random.seed(1)
X = 1.5 * np.random.randn(100) + 10.5   # Array of 1000 values with mean = 1.5, stddev = 2.5
res = 0.5 * np.random.randn(100)       # Generate 1000 residual terms
y = 20 + 0.3 * X  + res

In [4]:
# 1. Bias in the Model: In the context of machine learning models, bias can refer to the simplifying assumptions made by the model 
# that lead it to consistently underpredict or overpredict the target variable. In this code, you've explicitly set the
# intercept (b) to 20, which means the model always starts with a prediction of 20, regardless of the feature X. This can 
# introduce bias if the true intercept in the underlying data-generating process is different from 20. If your data has an 
# inherent intercept of, say, 18, then the model is systematically biased by 2 units.

# 2. Bias in the Data Generation: The initial generation of X and res involves adding fixed values (10.5 and 0) to the generated
#random values. This means that the data generation process introduces bias by design. This bias is not necessarily the statistical
# bias we talk about in machine learning, but rather a deterministic shift that can affect the overall properties of the dataset.

In [5]:
df =  pd.DataFrame({'Studytime' : X , 'Score' : y })

In [6]:
df

    Studytime      Score
0   12.936518  23.657391
1    9.582365  23.486963
2    9.707742  23.114069
3    8.890547  22.963953
4   11.798111  22.991978
..        ...        ...
95  10.616010  22.371084
96   9.984219  23.296425
97  10.565395  23.379760
98   9.569999  23.276475
99  11.547048  23.986335

[100 rows x 2 columns]